@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@700&family=Style+Script&display=swap");
html {
  font-family: "Kadwa";
  font-size: 25px; }
  html ul {
    list-style: none; }
  html a {
    color: black;
    text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #e1aa74;
  width: 100%;
  height: 4.5rem;
  position: sticky;
  top: 0; }
  header #toggle, header label {
    display: none; }

.headerNavegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 75%;
  height: 4.5rem; }
  .headerNavegacion div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 3.125rem; }
  .headerNavegacion a {
    display: flex;
    align-items: center;
    justify-content: center; }
  .headerNavegacion > a {
    width: 27rem;
    height: 1.875rem;
    padding: 0rem 0.5rem; }

.barraDeNavegacion {
  width: 25%;
  background-color: #b99470;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }
  .barraDeNavegacion ul {
    display: grid;
    grid-template-rows: repeat(7, 40px);
    grid-gap: 20px;
    margin: 20px 0px 100px 30px; }
    .barraDeNavegacion ul li {
      display: flex; }
      .barraDeNavegacion ul li a {
        font-size: .8125rem; }
      .barraDeNavegacion ul li img {
        margin-right: 0.5rem;
        width: 1.6rem;
        height: 1.6rem; }
  .barraDeNavegacion .contacto {
    text-align: center;
    font-size: .9375rem; }
    .barraDeNavegacion .contacto h3 {
      font-size: .625rem;
      text-align: center; }

main {
  background-image: url("../assets/Fondo.png");
  background-position-x: 7rem;
  background-position-y: 3.5rem;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  display: flex; }

#mainInicio {
  height: 35.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 45% 15%;
  grid-template-areas: ". divPresentacion ."; }

#mainForm {
  display: flex;
  flex-direction: column;
  align-items: center; }

#mainMision {
  height: auto;
  width: 100%;
  padding-left: 25%; }

#mainAdopciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25%; }

#mainCuenta {
  padding-left: 25%;
  width: 100%;
  display: flex;
  justify-content: center; }

footer {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-areas: ". tFooter .";
  width: 100%;
  position: static;
  bottom: 0;
  background-color: black;
  border: none; }
  footer div {
    grid-area: tFooter;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }

#textoFooter {
  color: white;
  font-size: .75rem;
  margin: 1.625rem 0rem; }

/* PÁGINA DE INICIO */
p span {
  font-family: "Style Script"; }

.divPresentacion {
  display: flex;
  box-shadow: 1.25rem;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 3.4375rem;
  width: 21.875rem;
  margin: 1rem;
  grid-area: divPresentacion; }

#textoPresentacion {
  color: black;
  margin: 1.5rem;
  line-height: 2rem; }

p {
  font-size: 1.175rem; }

#divForm {
  margin: 2rem;
  margin-left: 10rem;
  text-align: center;
  width: 15rem;
  height: 4rem;
  background-color: rgba(245, 204, 160, 0.65);
  border-radius: 2.5rem; }

#divForm h1 {
  margin: auto; }

#fondoForm {
  background-color: rgba(245, 204, 160, 0.65);
  width: 39rem;
  height: auto;
  border-radius: 3.125rem;
  margin: 0rem 3rem 3rem 16rem;
  text-align: center; }

.inputFormulario {
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, auto);
  column-gap: 20px;
  row-gap: 30px; }
  .inputFormulario div :not(.Radios) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: .875rem; }

.inputFormDiv {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.Radios input {
  appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #b64e3e;
  background-color: white;
  margin: 0rem 1rem; }

.Radios input:checked {
  background-image: radial-gradient(#b46559 0%, #b46559 30%, transparent 50%); }

.Radios div {
  display: block; }

.Radios label {
  padding-left: 1rem; }

.inputForm {
  height: 2rem;
  width: 80%;
  border-radius: .3125rem;
  background-color: #faeed1;
  border-color: #b64e3e;
  border-style: solid; }

#porqueRedes {
  font-size: .625rem;
  margin-left: 1rem;
  grid-column: 1 / 3;
  grid-row: 7; }

#porqueRedes h2 {
  color: #b64e3e;
  justify-content: center; }

#porqueRedes h3 {
  color: black; }

#botonEnviar {
  width: 12rem;
  height: 3rem;
  background-color: #b64e3e;
  color: white;
  border-radius: 1.875rem;
  font-size: 1.5rem;
  font-family: "Kadwa";
  border-style: none;
  display: flex;
  justify-content: center; }

.enviarBoton {
  grid-column: 2 / 3;
  grid-row: 10 / 11; }

#fondoMision {
  background-color: rgba(245, 204, 160, 0.65);
  width: 90%;
  height: auto;
  border-radius: 3.125rem;
  margin: 3rem;
  text-align: center; }
  #fondoMision div {
    margin: 0rem 2rem; }
    #fondoMision div h3 {
      font-size: .875rem; }
    #fondoMision div h1 {
      font-size: 2.25rem; }
    #fondoMision div h4 {
      font-size: 1.075rem; }

#noRemun {
  color: #b83622;
  line-height: 2.5rem; }

.selecMascota select {
  width: 300px;
  height: 80px;
  background-color: #b64e3e;
  border-radius: 60px;
  border-style: none;
  font-size: 0.8rem;
  font-family: "Kadwa";
  color: white;
  text-align: center; }

.card {
  display: flex;
  flex-direction: column; }
  .card section {
    background-color: #f3f0ca;
    border-color: #b64e3e;
    border-style: solid;
    border-radius: 1.5rem;
    margin: 2rem;
    width: 28rem;
    justify-content: space-between; }

.liDatos {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .liDatos img {
    width: fit-content;
    height: fit-content; }

.fotoscard {
  margin: 2rem 0.5rem;
  width: 6rem;
  border: 1px solid black;
  border-radius: .625rem; }

.tarjeta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.cardText {
  display: flex;
  flex-direction: row-reverse; }
  .cardText h2, .cardText h3 {
    display: block;
    font-size: 1rem;
    margin-left: .25rem; }
  .cardText ul {
    list-style: none;
    display: inline;
    margin-top: 1rem; }

.consultarAdopcion {
  background-color: #b64e3e;
  width: 7.5rem;
  height: 2.5rem;
  font-size: 0.7rem;
  border-top-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem; }
  .consultarAdopcion a {
    color: white;
    padding: 1rem;
    font-size: 1rem;
    text-align: center; }

#divCuenta {
  background-color: rgba(245, 204, 160, 0.65);
  width: 100%;
  border-radius: 3.125rem;
  margin: 5% 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #divCuenta img {
    width: fit-content;
    height: fit-content; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1rem;
  padding-right: 0.5rem; }

h3 {
  font-size: 0.8rem; }

#nombreDomicilio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }
  #nombreDomicilio div {
    display: flex;
    justify-content: center;
    align-items: center; }

#cuentaTitulo {
  display: flex;
  flex-direction: row;
  align-items: center; }

#cambioDomicilio {
  display: flex;
  justify-content: center; }
  #cambioDomicilio a {
    text-decoration: underline;
    color: blue;
    font-size: 0.7rem; }

#cambioCuenta {
  width: 100%;
  display: flex;
  flex-direction: row; }
  #cambioCuenta input {
    margin: 0.5rem; }

#cambioContraseña {
  background-color: #b64e3e;
  height: 2rem;
  width: 12.5rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1rem;
  font-family: "Kadwa";
  color: white; }

#cambioCorreo {
  background-color: #b64e3e;
  height: 2rem;
  width: 15rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1rem;
  font-family: "Kadwa";
  color: white; }

#formCuenta > div {
  display: flex;
  flex-direction: column;
  align-items: center; }

#infoCorreo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.elegirPref {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; }
  .elegirPref div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .elegirPref input {
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #b64e3e;
    background-color: white;
    margin: 0rem 1rem; }
    .elegirPref input:checked {
      background-image: radial-gradient(#b46559 0%, #b46559 30%, transparent 50%); }

#cambioOp {
  text-align: center; }

.comunicarse {
  color: blue;
  margin-top: 1rem;
  margin-bottom: 2rem; }

#actualizarForm {
  background-color: #b64e3e;
  height: 3rem;
  width: 20rem;
  border-radius: 1.5rem;
  border-style: none;
  font-size: 1.3rem;
  font-family: "Kadwa";
  color: white;
  margin-bottom: 1rem; }

@media (max-width: 1302px) {
  #SDH {
    padding: 0rem 2rem;
    width: 18rem; }
  #textoFooter {
    font-size: 0.65rem; }
  #mainForm {
    display: flex;
    padding-left: 25%;
    justify-content: center;
    align-items: center; }
  #fondoForm {
    width: 90%;
    margin: 0; } }

#cambioCuenta {
  flex-direction: column; }

@media (max-width: 1000px) {
  #Mision {
    display: none; }
  #Cuenta {
    display: none; }
  #mainInicio {
    grid-template-columns: 25% 75%; }
  .divPresentacion {
    justify-content: center; }
  #fondoForm div {
    font-size: 0.6rem; }
    #fondoForm div h2, #fondoForm div h3, #fondoForm div h5 {
      font-size: 0.6rem; }
    #fondoForm div label {
      font-size: 0.6rem; } }

@media (max-width: 915px) {
  main {
    background-size: cover;
    background-position: 0; }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  header {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center; }
  .headerNavegacion {
    height: 3.3rem;
    width: 100%; }
  #SDH {
    width: 18rem; }
    #SDH img {
      width: 14rem; }
  .barraDeNavegacion {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 0rem 0rem 1.25rem 1.25rem; }
    .barraDeNavegacion ul {
      grid-gap: 10px;
      margin: 10px 0px 0px 0px;
      justify-content: center; }
  .contacto {
    text-align: center;
    font-size: .6875rem; }
    .contacto h3 {
      font-size: .625rem;
      text-align: center; }
  header label {
    display: inline-flex;
    cursor: pointer;
    height: 25px;
    width: 25px; }
  header #toggle:checked ~ .barraDeNavegacion {
    height: 85vh;
    transition: 0.7s;
    transform-style: flat; }
  #Mision {
    display: none; }
  #Cuenta {
    display: none; }
  .barraDeNavegacion {
    justify-content: space-around;
    width: 100%; }
  /* PÁGINA DE INICIO */
  #mainInicio {
    display: flex;
    justify-content: center; }
  /* PÁGINA DE FORMULARIO */
  #mainForm {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    background-size: cover; }
  #divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    margin: 2rem 0rem; }
    #divForm h1 {
      font-size: 1.3rem; }
  #fondoForm {
    width: 90%;
    margin: 0rem; }
  .inputFormulario {
    display: flex;
    flex-direction: column; }
  .inputForm {
    display: inline; }
  .Radios {
    margin-left: 10%; }
  #botonEnviar {
    display: flex;
    justify-content: center; }
  #mainMision {
    padding: 0;
    background-size: cover; }
  #mainCuenta {
    padding: 0; }
  #cambioCuenta input {
    margin: 0.5rem; }
  #mainAdopciones {
    padding: 0; } }

@media (max-width: 750px) {
  header {
    z-index: 3; }
  .card {
    width: 90%;
    display: flex;
    align-items: center; }
    .card section {
      width: 100%;
      margin: 1rem 0rem;
      justify-content: start; }
  .fotosCard {
    width: 10%; }
  .liDatos {
    display: flex;
    align-items: center; }
    .liDatos h2 {
      font-size: 0.7rem; }
    .liDatos h3 {
      font-size: 0.7rem; }
  .cardText ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; }
  .consultarAdopcion {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%; }
    .consultarAdopcion a {
      padding: 0px; }
  .cardText {
    position: relative; }
    .cardText div {
      position: absolute; } }

@media (max-width: 590px) {
  main {
    background-size: cover; }
  header {
    width: 100%;
    align-items: center; }
  #textoFooter {
    font-size: 0.5rem;
    text-align: center; }
  #SDH {
    padding: 10px; }
    #SDH img {
      width: 9rem; }
  #mainInicio {
    height: auto; }
  #mainMision {
    width: 100%;
    padding-left: 0px;
    display: flex;
    justify-content: center; }
  #fondoMision {
    margin: 0;
    width: 90%;
    border-radius: 2rem; }
    #fondoMision div {
      margin: 5%; }
      #fondoMision div h1 {
        font-size: 1.3rem;
        line-height: 1.7rem; }
      #fondoMision div h2 {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0.5rem 0rem; }
      #fondoMision div h3 {
        line-height: 1rem;
        font-size: 0.7rem; }
      #fondoMision div h4 {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0.5rem 0rem; }
      #fondoMision div h5 {
        font-size: 0.75rem;
        line-height: 1rem; }
  .headerNavegacion div a img {
    width: 45px; }
  .textoPresentacion p {
    line-height: 1rem; }
  #actualizarForm {
    height: 2.5rem;
    width: 15rem;
    font-size: 1rem; }
  #nombreDomicilio div h2 {
    font-size: 0.8rem; }
  #nombreDomicilio div h3 {
    font-size: 0.6rem; }
  #infoCorreo h2 {
    font-size: 0.8rem; }
  #infoCorreo h3 {
    font-size: 0.6rem; }
  .liDatos {
    display: flex;
    align-items: center; }
    .liDatos h2 {
      font-size: 0.5rem; }
    .liDatos h3 {
      font-size: 0.5rem; }
    .liDatos img {
      width: 100px; }
  .fotoscard {
    margin: 1rem 0.5rem; } }

@media (max-width: 400px) {
  /* *{
        border-style: solid;
        border-color: red;
        border-width: 1px;
    } */
  main {
    background-position-x: -4rem;
    background-position-y: 2rem;
    background-size: 37rem; }
  footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  #textoFooter {
    font-size: 0.5rem;
    text-align: center; }
  header {
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center; }
    header #toggle:checked ~ .barraDeNavegacion {
      height: 87.5vh; }
  .barraDeNavegacion ul li a {
    font-size: 0.5rem; }
    .barraDeNavegacion ul li a img {
      height: 30px;
      width: 30px; }
  #SDH {
    width: 8rem;
    height: 32px; }
    #SDH img {
      width: 7rem; }
  .headerNavegacion {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    top: 0; }
  .headerNavegacion div a img {
    width: 30px; }
  /* PÁGINA DE INICIO */
  #mainInicio {
    height: auto; }
  .divPresentacion {
    width: 85%;
    margin: 1rem 0rem;
    text-align: center;
    height: auto;
    border-radius: 1rem; }
  #textoPresentacion {
    margin: 0.5rem; }
    #textoPresentacion p {
      font-size: 0.75rem;
      line-height: 0.8rem;
      width: 100%; }
  /* PÁGINA DE FORMULARIO */
  #fondoForm {
    border-radius: 1rem; }
  .Radios {
    margin: 0; }
  .gridRejas h5 {
    width: 70%;
    line-height: 1rem;
    text-align: start; }
  .gridRejas {
    margin-bottom: 0.5rem; }
  .inputForm {
    height: 1.7rem;
    width: 80%;
    border-style: solid; }
  .inputFormulario div :not(.Radios) {
    flex-wrap: nowrap; }
  #botonEnviar {
    width: 8rem; }
  #divCuenta {
    border-radius: 1rem; }
  #nombreDomicilio div {
    flex-direction: column; }
  #cambioCorreo {
    width: 10rem;
    font-size: 0.6rem; }
  #cambioContraseña {
    width: 10rem;
    font-size: 0.7rem; }
  #infoCorreo h2 {
    text-align: center; }
  .elegirPref {
    font-size: 0.7rem; }
    .elegirPref div p {
      font-size: 0.6rem; }
    .elegirPref input {
      height: 20px;
      width: 20px;
      border-width: 1px; }
  #cambioOp {
    align-self: center;
    width: 70%;
    margin: 0 15%; }
    #cambioOp h2 {
      font-size: 0.7rem; }
  .comunicarse {
    font-size: 0.7rem; }
  .comunicarse {
    margin-bottom: 2rem;
    margin-top: 0.5rem; }
  #actualizarForm {
    width: 10rem;
    font-size: 0.8rem; }
  #textoAdopciones h1 {
    font-size: 1.3rem; }
  #elegirMascota {
    width: 200px;
    height: 60px;
    font-size: 0.6rem; }
  .consultarAdopcion {
    position: static;
    width: 100%;
    border-radius: 0; }
  .tarjeta {
    overflow: hidden;
    flex-direction: column;
    align-items: center; }
  .cardText ul {
    margin: 1rem; }
    .cardText ul li h2 {
      padding-right: 0; } }
