#divCuenta {
    background-color: map-get($colores , fondoCards );
    width: 100%;
    border-radius: 3.125rem;
    margin: 5% 5%;
    @include dFlex (column , center , center , wrap );
        img{
        width: fit-content;
        height: fit-content;
        }
    }
    h1 {
    font-size: 2rem;
    }
    h2 {
    font-size: 1rem;
    padding-right: 0.5rem;
    }
    h3 {
    font-size: 0.8rem;
    }
#nombreDomicilio {
    @include dFlex (row, space-evenly, none, wrap);
    div {
        @include dFlex (row, center, center, );
    }
}

#cuentaTitulo {
    @include dFlex (row, none, center, );
}
#cambioDomicilio {
    @include dFlex (none, center, none, );
    a {
        text-decoration:underline;
        color: blue;
        font-size: 0.7rem;
    }
}

#cambioCuenta {
    width: 100%;
    display: flex;
    flex-direction: row;
    input {
        margin: 0.5rem;
    }
}

#cambioContraseña {
    background-color: map-get($colores , botones );
    height: 2rem;
    width: 12.5rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1rem;
    font-family: "Kadwa";
    color: map-get($colores , fuenteBotones );
}
#cambioCorreo {
    background-color: map-get($colores , botones );
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1rem;
    font-family: "Kadwa";
    color: map-get($colores , fuenteBotones );
}
#formCuenta{
    >div {
        @include dFlex (column, none, center, );
    }
}
#infoCorreo {
    @include dFlex (row, center, none, wrap);
}
.elegirPref {
    @include dFlex (column, none, center, );
    margin-top: 1rem;
    div {
        @include dFlex (row, none, center, );
    }
    input{
        appearance: none;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        border-style: solid;
        border-width: 2px;
        border-color: map-get($colores, cardBorder );
        background-color: map-get($colores , fuenteBotones );
        margin: 0rem 1rem;
        &:checked{
            background-image: radial-gradient(rgb(180, 101, 89)0%, rgb(180, 101, 89)30%, transparent 50%);
        }
    }
}

#cambioOp {
    text-align: center;
}
.comunicarse {
    color: blue;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#actualizarForm {
    background-color: map-get($colores , botones );
    height: 3rem;
    width: 20rem;
    border-radius: 1.5rem;
    border-style: none;
    font-size: 1.3rem;
    font-family: "Kadwa";
    color: map-get($colores , fuenteBotones );
    margin-bottom: 1rem;
}
