$colores:(
    navbar: rgb(185, 148, 112),
    fuente: rgb(0, 0, 0),
    fuenteBotones: rgb(255, 255, 255),
    menu: rgb(225, 170, 116),
    cardIndex: rgba(217, 217, 217, .60),
    fondoCards: rgba(245, 204, 160, 0.65),
    cardAdopciones: rgb(243, 240, 202),
    cardBorder: rgb(182, 78, 62),
    botones:rgb(182, 78, 62),
    inputInterior:rgb(250, 238, 209),
    fondoFooter: rgb(0, 0, 0),
);