.selecMascota {
    select {
        width: 300px;
        height: 80px;
        background-color:map-get($colores, botones );
        border-radius: 60px;
        border-style: none;
        font-size: 0.8rem;
        font-family: "Kadwa";
        color: map-get($colores , fuenteBotones );
        text-align: center;
    }
}
.card {
    @include dFlex (column , none , none , none);
    section {
        background-color: map-get($colores, cardAdopciones );
        border-color: map-get($colores , cardBorder );
        border-style: solid;
        border-radius: 1.5rem;
        margin: 2rem;
        width: 28rem;
        justify-content:space-between;
    }
}

.liDatos {
    @include dFlex (row , none , center , none);
    img {
        width: fit-content;
        height: fit-content;
    }
}

.fotoscard {
    margin: 2rem 0.5rem;
    width: 6rem;
    border: 1px solid black;
    border-radius: .625rem;
}
.tarjeta {
    @include dFlex (row , none , none , wrap);
}
.cardText {
    @include dFlex (row-reverse, none, none,);
    h2, h3 {
        display: block;
        font-size: 1rem;
        margin-left: .25rem;
    }
    ul {
        list-style: none;
        display: inline;
        margin-top: 1rem;
    }
}

.consultarAdopcion {
    background-color: map-get($colores, botones );
    width: 7.5rem;
    height: 2.5rem;
    font-size: 0.7rem;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    a {
        color: map-get($colores , fuenteBotones );
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
    }
}
