header {
    @include dFlex (row-reverse, space-between, none, wrap);
    background-color: map-get($colores , menu );
    width: 100%;
    height: 4.5rem;
    position: sticky;
    top: 0;
    #toggle, label {
        display: none;
    }
}
    .headerNavegacion{
        @include dFlex (row, space-evenly, center, nowrap);
        width: 75%;
        height: 4.5rem;
        div {
            @include dFlex (row, center, center, nowrap);
            height: 3.125rem;
        }
        a{
            @include dFlex (none, center, center,);
        }
        >a{
            width: 27rem;
            height: 1.875rem;
            padding: 0rem 0.5rem;
        }
    }

    .barraDeNavegacion {
        width: 25%;
        background-color: map-get($colores, navbar );
        border-radius: 0rem 1.25rem 1.25rem 0rem;
        @include dFlex (column, space-between, none, );
        height: 100vh;
        ul {
            @include dGrid (1 , repeat(7,40px) , none , 20px);
            margin: 20px 0px 100px 30px;
            li {
                display: flex;
                a {
                    font-size: .8125rem;
                }
                img {
                    margin-right: 0.5rem;
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }
        }
        .contacto {
            text-align: center;
            font-size: .9375rem;
            h3 {
                font-size: .625rem;
                text-align: center;
            }
        }
    }


