// MAIN GENERAL
main {
    background-image: url("../assets/Fondo.png");
    background-position-x: 7rem;
    background-position-y: 3.5rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
}
// MAIN INDEX
#mainInicio {
    height: 35.5rem;
    width: 100%;
    @include dGrid (40% 45% 15% , 1 , ". divPresentacion ." , 0);
}
// MAIN FORMULARIO
#mainForm {
    @include dFlex (column, none, center, );
}
// MAIN MISIÓN
#mainMision {
    height: auto;
    width: 100%;
    padding-left: 25%;
}
// MAIN ADOPCIONES
#mainAdopciones {
    width: 100%;
    @include dFlex (column, none, center, );
    padding-left: 25%;
}
// MAIN CUENTA
#mainCuenta {
    padding-left: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}