@media (max-width: 1000px) {
    #Mision{
        display: none;
    }
    #Cuenta {
        display: none;
    }
    #mainInicio {
        grid-template-columns: 25% 75%;
    }
    .divPresentacion {
        justify-content: center;
    }
    #fondoForm {
        div{ 
            font-size: 0.6rem;
            h2 , h3 , h5 {
                font-size: 0.6rem;
            }
            label {
                font-size: 0.6rem;
            }
        }
    }
}