@media (max-width: 1302px) {
    #SDH {
        padding: 0rem 2rem;
        width: 18rem;
    }
    #textoFooter {
        font-size: 0.65rem;
    }
// Página from
    #mainForm {
        padding-left: 25%;
        @include dFlex (none, center, center, );
    }

    #fondoForm {
        width: 90%;
        margin: 0;

    }
}
// Página Cuenta

#cambioCuenta {
    flex-direction: column;
}
