@media (max-width:750px) {

    header {
        z-index: 3;
    }
    .card {
        width: 90%;
        align-items: center;
        section {
            width: 100%;
            margin: 1rem 0rem;
            justify-content: start;
        }
    }

    .fotosCard {
        width: 10%;
    }

    .liDatos {
        align-items: center;
        h2 {
            font-size: 0.7rem;
        }
        h3 {
            font-size: 0.7rem;
        }
    }
    .cardText {
        ul {
            @include dFlex (column, center, none,);
            margin: 0;
        }
    }
    .consultarAdopcion {
        @include dFlex (none, center, center, );
        position: absolute;
        right: 5%;
        a{
        padding: 0px;
        }
    }

    .cardText {
        position: relative;
        div {
            position: absolute;
        }
    }


}